* {
  box-sizing: border-box;
}

:root {
  font-family: monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #36393f; /* Dark background similar to Discord */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Lightest to darkest shades of gray */
  --color-gray-100: #eeeeee;
  --color-gray-200: #dcdcdc;
  --color-gray-300: #b9bbbe;
  --color-gray-400: #8e9297;
  --color-gray-500: #72767d;
  --color-gray-600: #52565e;
  --color-gray-700: #2e3338;
  --color-gray-800: #23272a;
  --color-gray-900: #000000; /* Darkest gray */

  /* White and black for text */
  --color-text-white: #ffffff;
  --color-text-black: #000000;

  /* Change primary color to Discord blue */
  --color-primary-100: #7289da;
  --color-primary-200: #677bc4;
  --color-primary-300: #5b6eaa;
  --color-primary-400: #4f6090;
  --color-primary-500: #434373;
  --color-primary-600: #39395f;
  --color-primary-700: #2f2f4c;
  --color-primary-800: #252539;
  --color-primary-900: #1c1c2b;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
